---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
type Faq = {
  question: string;
  answer: string;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const faqs: Array<Faq> = t("faq.items") as Array<Faq>;
---

<section id="faq" class="container mx-auto py-16 px-4 lg:px-12">
  <p class="text-xl text-left uppercase text-white/50 mb-8">{t("faq.title")}</p>
  <div class="questions w-full lg:w-1/2 mx-auto">
    <div class="accordion">
      {
        faqs.map((faq, index) => (
          <div
            class="accordion-item"
            data-aos={`${index % 2 ? "fade-right" : "fade-left"}`}
          >
            <p
              class="accordion-link text-white text-lg font-normal leading-10 tracking-wide"
              data-target={`accordion-${index}`}
            >
              {faq.question}
            </p>
            <div class="answer active" data-item={`accordion-${index}`}>
              <p class="text-white/60 text-md font-normal tracking-wide mt-4">
                {faq.answer}
              </p>
            </div>
            <hr class="border-white/50 my-4" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  Array.from(document.getElementsByClassName("accordion-link")).forEach(
    (item) => {
      item.addEventListener("click", (e) => {
        if (e.target == null) return;
        const target = e.target.getAttribute("data-target");
        const answer = document.querySelector(`[data-item=${target}]`);
        answer!.classList.toggle("active");
      });
    }
  );
</script>
<style>
  .accordion-item {
    margin-bottom: 1rem;
  }

  .accordion-link {
    cursor: pointer;
  }

  .accordion-link:hover {
    color: #fff;
  }

  .answer {
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out 0.3s;
  }

  .answer.active {
    max-height: 500px;
  }
</style>
