---
import PortfolioItem from "./Portfolio/PortfolioItem.astro";
import { HeadingSection } from "../components/Heading";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

interface Props {
    hasTopRadius?: boolean;
    extended?: boolean;
    nextSectionTitle: string;
    nextSectionLink: string;
    count: number;
}

type PortfolioItemType = {
    title: string;
    description: string;
    img: string;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const items: Array<PortfolioItemType> = t('portfolio.items') as Array<PortfolioItemType>;


const { hasTopRadius, extended, nextSectionLink, nextSectionTitle, count } =
    Astro.props;

const roundedClass = hasTopRadius
    ? "rounded-b-3xl lg:rounded-b-[60px]"
    : "rounded-3xl lg:rounded-[60px]";

---

<section class=`bg-white ${roundedClass} py-8 lg:py-16` id="portfolio">
    <div
        class="container px-4 lg:px-12 mx-auto flex flex-col justify-center items-center gap-2"
    >

        { extended && <div class="px-8 py-2 mb-12 rounded-[5px] bg-[#F7F7F7] my-4">
            <p class="text-sm text-center text-black/50">
                {t('portfolio.title')}
            </p>
        </div>}

        { !extended && <p class="text-center lg:text-left uppercase text-black/50 w-full mb-10">
            {t('portfolio.title')}
        </p> }

        <div class="grid grid-cols-1 lg:grid-cols-2 justify-between gap-10">
            {
                items
                    .slice(0, count)
                    .map((item, index) => (
                        <PortfolioItem
                            title={item.title}
                            description={item.description}
                            img={item.img}
                            index={index}
                        />
                    ))
            }
        </div>

        <div class="mt-40 mb-10">
            <!--<p class="text-xl text-center text-black/50">ĎALEJ NA</p>-->

            <a class="cursor-pointer" href={nextSectionLink}>
                <p class="text-2xl text-center uppercase text-black pt-4">
                    {nextSectionTitle}
                </p>
                <svg
                    width="100"
                    height="16"
                    viewBox="0 0 185 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-full"
                    preserveAspectRatio="none"
                >
                    <path
                        d="M0.5 11.0588C71.7147 4.37113 111.931 2.25282 184.5 2C132.527 6.74663 103.82 9.48176 62.1268 16C87.4849 14.483 101.588 13.9057 125.514 16"
                        stroke="#000AFF"
                        stroke-width="3"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
